@media only screen and (max-width: 600px) {
    p{
       text-align: left !important;
       font-size: 14px !important;
    }
    #projects{
        font-size: 14px;
    }
}
@font-face{
    font-family: Product Sans;
    src: url(Product Sans Regular.ttf);
}

body{
    font-family: Product Sans;
    text-align: center;
    vertical-align: center;
}
a {
    text-decoration: none;
}

#main-nav{
    width: 98%;
    margin-top: 25px;
    border: 3px solid #00BCD4;
    border-radius: 13px;
}

#main-nav li {
    list-style-type: none; 
    color: #00BCD4;
    font-size: 35px;
    letter-spacing: 6px;
}

#main-nav a :hover{
    color: rgb(177, 110, 117);
    letter-spacing: 9px !important;
}
.drawer{
    height: 50px;
    width: 50px;
    background-color: #00BCD4;
    border-radius: 50%;
    position:fixed;
    bottom:25px;
    right: 25px;
}

.drawer .collapsible{
    color: white;
    position: relative;
    bottom: -8px;
    background: none;
    shape-rendering: none;
}
.drawer .collapsible:hover{
    color: rgb(177, 110, 117);
}
.content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#aboutme {
    border: 3px solid #00BCD4;
    border-radius: 13px;
    color: #00BCD4;
}

#aboutme p{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

#projects{
    margin-top: 25px;
    border: 3px solid #00BCD4;
    border-radius: 13px;
    color: #00BCD4;
}
#projects a {
    color: #00BCD4;
}
#projects a :hover{
    color: rgb(177, 110, 117);
    letter-spacing: .5px;
}

#contactme{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25px;
    margin-bottom: 45px;
    border: 3px double #00BCD4;
    border-radius: 13px;
    color: #00BCD4;
}
#contactme a{
    color: #00BCD4;
}
#contactme a :hover{
    color: rgb(177, 110, 117);
    letter-spacing: .5px;
}

#experience {
    color: #00BCD4;
    border: 3px solid #00BCD4;
    border-radius: 13px;
}
#experience p{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}
#experience img{
    padding-bottom: 30px;
}
#homebar{
    height: 50px;
    padding-bottom: none;
    border: 3px double rgb(177, 110, 117);
}
#homebar a{
    position: relative;
    bottom: 15px;
    color: #00BCD4;
}
#homebar a :hover {
    color: rgb(177, 110, 117);
    letter-spacing: 3px;
}
